root = true

[*]
charset = utf-8
indent_size = 8
end_of_line = lf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h,cpp,hpp}]
max_line_length = 100

[*.yaml]
indent_size = 2
indent_style = spaces

[*.md]
max_line_length = 100
