.config/fish/fish_variables

.var/app/com.discordapp.Discord/config/BetterDiscord/emote_data.json
.var/app/com.discordapp.Discord/config/BetterDiscord/logs.log
.var/app/com.discordapp.Discord/config/BetterDiscord/bdstorage.json
.var/app/com.discordapp.Discord/config/BetterDiscord/plugins

# Make sure that we don't commit the symlink for alternative files
.config/doom/local.el
.config/kitty/kitty.conf
.var/app/com.discordapp.Discord/config/BetterDiscord/themes
.config/spicetify/Themes/tmsp/color.ini
