[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=oneshot
ExecStart=%h/.local/bin/tb/emacs --daemon
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
