[Unit]
Description=Proton Updater

[Service]
Type=oneshot
ExecStart=%h/.local/bin/proton-update
RemainAfterExit=no

[Install]
WantedBy=default.target
